<aside>

  <h3 class="featured-project_head" style="margin-bottom: 0px;">
      <a class="link link--mallki" href="https://collegescorecard.ed.gov/data/documentation/">{{ site.subtitle }}<span data-letters="College Scorecard API"></span><span data-letters="College Scorecard API"></span></a>
  </h3>
  <a class="skip-link visuallyhidden focusable" href="#main">Skip to Main Content</a>
  <nav class="sidebar-nav" role="navigation">
    <ul>
      {% for link in site.navigation %}
        {% if link.internal == true %}
          <li><a href="{{ site.baseurl }}/{{ link.url }}">{{ link.text }}</a></li>
        {% else %}
          <li><a href="{{ link.url }}">{{ link.text }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</aside>
