<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>
      {% if page.title == null %}
        {{ site.name }}
      {% else %}
        {{ page.title }} - {{ site.name }}
      {% endif %}
    </title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/site.css">

<!--
    <link rel="alternate" type="application/rss+xml" title=" » Feed" href="https://cfpb.github.io/feed/">
-->
    <link rel="canonical" href="https://usedgov.github.io/">
    <link href="https://fonts.googleapis.com/css?family=Teko|Source+Serif+Pro|Source+Sans+Pro" rel="stylesheet">


    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{{ site.baseurl }}/assets/js/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="container">

      <ul class="hub-menu-main">
        <li class="hub-trigger">
          <a id="colorChange" style="padding: 0; padding-top: 6px;" class="hub-icon" href="https://usedgov.github.io/">  <i style="font-size: 30px; padding-left: 3px;" class="fa fa-graduation-cap" aria-hidden="true"></i></a>
        </li>
        <li><a class="" href="#APIs">APIs</a></li>
        <li><a href="http://github.com/usedgov" target="_blank">Repos</a></li>
        <li><a href="http://github.com/usedgov" target="_blank">News</a></li>
      </ul>

      <header role="banner" style="border: none; height: 74px;">
      </header>


      <div class="wrap content">

        {% include sidebar.html %}

        <section id="main" class="main-content" role="main">
          {{ content }}
        </section>

      </div><!-- /.wrap content -->

      <footer role="contentinfo" style="background-color: #1C1F2D; color: #fff;">
        <div class="wrap">

        </div><!--/.wrap -->
      </footer>
    </div> <!-- /.container -->
    {% if site.offline_cache == true %}
      <script>
        if( 'serviceWorker' in navigator ) {
          navigator.serviceWorker
           .register( '{{ site.baseurl }}/sw.js' )
           .catch(function( err ) {
             console.log( 'ServiceWorker registration failed: ', err );
           });
         }
      </script>
    {% endif %}
    </body>
</html>
